.logo_platforms {
    width: 100px;
}

.platforms {
    padding-top: 30px;
    min-height: 250px;
}

#try_it {
    padding: 80px;
    background-color: #11ABB0;
}

#try_it h1 {
    margin-bottom: 40px;
    margin-top: 20px;
    color: honeydew;
}

#try_it h2 {
    color: honeydew;
}
.button.big {
    font-size: 1.5em;
}
.no-brake{
    display: inline;
}

.background-alpha{
    background-color: rgba(0, 0, 0, 0.708) !important;
}

#about h3{
    font-size: 2em !important;
    font-weight: 500;
    line-height: 1.6em;
}
.applications{
    overflow: hidden;}
.applications .list-group-item{
    background-color: rgba(0, 0, 0, 0.1);
    border:none;
    color: whitesmoke;
    font-size: 1.3em;
    line-height: 1.3em;
}

.features{
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.208) !important;
    padding-bottom: 3%;
}
.margin-bottom{
    margin-bottom: 3%;
}
.features>div>div{
    background: #ed5565;
    border-radius: 220px;
    color: white;
    height: 220px;
    font-weight: bold;
    width: 220px;
    display: table;
    margin: 20px auto;
    padding:30px;
}
.features p {
    vertical-align: middle;
    display: table-cell;
    font-size: 1.5em;
}

/* EXAMPLES */
.scroll_button{
    font-size: 2em;
    text-align: center;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-duration: 2s;
}
.scroll_button *{
     color: #1f2024 !important;
 }
.scroll_button *:hover{
    color: #ec9125 !important;
}
.scrolling-content{
    overflow-y:scroll;
    height:85vh;
}
.iplot{
    width:800px;
    height:800px;
    transform:scale(0.5) translate(-400px, -400px);
    -webkit-transform:scale(0.5) translate(-400px,-400px);
    -ms-transform: scale(0.5) translate(-400px,-400px); /* IE 9 */
}
#Examples{
    padding: 5vw 10vw;
}
#Examples .section-title{
    color: #eceeee;
    margin-bottom: 30px;
}
.iplot_container{
    width: 400px;
    height:400px;
    overflow: hidden;
}
.carousel-caption {
   color: #1f2024;
    font-weight: bold;
}